@model AracServisTakipSitesi.Models.Uyeler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Uyeler</h4>

<form method="post">
    <div class=" border  backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden />
        <input asp-for="Email" hidden />
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Ad" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="Ad" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Email" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="Email" disabled class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Telefon" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="Telefon" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Telefon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Adres" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="Adres" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Adres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Sehir" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="Sehir" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Sehir" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="PostaKodu" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="PostaKodu" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="PostaKodu" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
