
@using AracServisTakipSitesi.Utility

@model AracServisTakipSitesi.Models.ApplicationUser

@{
    ViewData["Title"] = "SignUp";
}



<h3 class="text-info pt-2 pb-3"> Kayıt olmak için formu doldurunuz</h3>

<div class="row backgroundWhite border">
    <div class="col-md-8">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="UserName"> Adı Soyadı</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="PhoneNumber">Telefon</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Adres"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Adres" class="form-control" />
                    </div>
                    <span asp-validation-for="Adres" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Sehir">Şehir</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Sehir" class="form-control" />
                    </div>
                    <span asp-validation-for="Sehir" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="PostaKodu"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PostaKodu" class="form-control" />
                    </div>
                    <span asp-validation-for="PostaKodu" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Password">Şifre Oluştur</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>


          
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button type="submit" class="btn btn-success form-control">Kayıt Ol</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<environment include="Development">
    <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds"></script>
</environment>
